body,
html {
  width: 100%;
  padding: 0;
  margin: 0;
  color: #000;
  font-family: sans-serif;
  background: #f7f7f7 !important;
}
html {
  height: 100%;
  overflow-x: hidden;
}
body {
  overflow-y: scroll;
}